name: {{project_name.snakeCase()}}
description: {{project_name.titleCase()}} package.
version: 0.0.1
publish_to: none

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  dependencies:
    path: ../../core/dependencies
