name: core
description: "Core module for Flutter applications."

publish_to: none

version: 0.0.1+1

environment:
  sdk: ">=3.5.0 <4.0.0"

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2

dev_dependencies:
  very_good_analysis: ^7.0.0

flutter:
  uses-material-design: true
  generate: true
