name: {{project_name.snakeCase()}}
description: A new blue bird Flutter project.

publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <3.0.0"

dependencies:
  dependencies:
    path: core/dependencies
  flutter:
    sdk: flutter
  flutter_launcher_icons: ^0.11.0
  flutter_native_splash: ^2.2.16

dev_dependencies:
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  very_good_analysis: ^3.1.0

flutter:
  uses-material-design: true

# Generate launcher icons
# command: flutter pub run flutter_launcher_icons
# flutter_icons:
#   android: true
#   ios: true
#
#   image_path: "assets/native/icon.png"

# Generate native splash
# command: flutter pub run flutter_native_splash:create
# flutter_native_splash:
#   android: true
#   ios: true

#   image: ./assets/native/image.png
#   color: "#FFFFFF"
#   image_dark: ./assets/native/image.png
#   color_dark: "#FFFFFF"

#   android_12:
#     image: ./assets/native/image.png
#     icon_background_color: "#FFFFFF"
#     image_dark: ./assets/native/image.png
#     icon_background_color_dark: "#FFFFFF"
