name: {{project_name.snakeCase()}}
description: {{project_description}}

publish_to: none

version: 0.0.1+1

environment:
  sdk: ">=3.5.0 <4.0.0"

workspace:
  - core
  - design_system

dependencies:
  core:
    path: core
  design_system:
    path: design_system
  flutter:
    sdk: flutter
  get_it: ^9.2.0
  go_router: ^15.1.2
  injectable: ^2.5.1

dev_dependencies:
  build_runner: ^2.4.13
  flutter_launcher_icons: ^0.14.4
  flutter_native_splash: ^2.4.7
  injectable_generator: ^2.7.0
  very_good_analysis: ^7.0.0

flutter:
  uses-material-design: true
