name: components
description: Reusable widgets along the whole project.
version: 0.0.1
publish_to: none

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  dependencies:
    path: ../dependencies

dev_dependencies:
  flutter_test:
    sdk: flutter
